.AddLeaveModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.AddLeaveModalContainer {
  background-color: white;
  border-radius: 16px;
  width: 700px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.AddLeaveModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.AddLeaveModalHeader h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.AddLeaveModalCloseIcon {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.AddLeaveModalBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AddLeaveModalLabel {
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
}

.AddLeaveModalInput {
  padding: 10px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.95rem;
  outline: none;
  width: 100%;
}

.AddLeaveModalRadioGroup {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.AddLeaveModalRadioOption {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.95rem;
  color: #333;
}

.AddLeaveModalDivider {
  border: none;
  border-top: 1px solid #918f8f;
  margin: 20px 0 10px 0;
}

.AddLeaveModalSaveButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 25%;
  display: block;
  margin: 0 auto;
}

.AddLeaveModalSaveButton:hover {
  background-color: #0056b3;
}
 
.AddLeaveModalError {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.star{
  color: red;
}