.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.inputGroup label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}

.inputWithSuffix {
  /* display: flex; */
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 0.3rem ;
  border-radius: 8px;
}

.inputWithSuffix input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
}

.inputWithSuffix span {
  font-size: 0.875rem;
  color: #888;
  margin-left: 1rem;
}

.submitButtonWrapper {
  grid-column: span 2; /* Ensure it spans both columns of the grid */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .formGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .modalContent {
    width: 90%;
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .modalHeader h2 {
    font-size: 1rem;
  }

  .closeButton {
    font-size: 1.25rem;
  }

  .inputWithSuffix input {
    font-size: 0.9rem;
  }

  .inputWithSuffix span {
    font-size: 0.75rem;
  }

  .submitButtonWrapper {
    margin-top: 1.5rem;
  }
}





.errorText {
  color: red;
  font-size: 0.75rem;
  margin-top: 4px;
}

