
.SingleEmployeeViewSectionTitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.SingleEmployeeViewView {
    color: #0d47a1;
    font-size: 14px;
    cursor: pointer;

}