.hiringCardContainer{
    width: 100%;
    min-height: 20vh;
    background-color: #F0F6FE;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    color: #455360;
}

.hiringCardContainer p{
    font-size: .90rem;
}