.primaryButton {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.primaryButton:hover {
  background-color: #0056b3;
}

.primarySecondary {
  background-color: white;
  color: #0d6efd;
  border: 2px solid ;
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.primarySecondary:hover {
  background-color: #e6f0ff;
  
}