.selectorWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3vh;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.selectButton {
  flex: 1 0 auto;
  padding: 0.5rem 1rem;
  min-width: 80px;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  transition: 0.2s ease;
}

.active {
  background: linear-gradient(to bottom right, #5170ff, #3740ff);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
