.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 25rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.modalBody {
  text-align: center;
  margin: 2rem 0;
}

.modalFooter {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.closeIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* .yesButton {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  font-size: 1rem;
  cursor: pointer;
}

.noButton {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
} */
