.VerifiedEmployeeSalaryInfoWrapper {
  padding: 24px;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

.VerifiedEmployeeSalaryInfoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.VerifiedEmployeeSalaryInfoGrid p {
  font-size: 13px;
  margin: 0 0 4px;
  color: rgb(66, 65, 65);
  font-weight: 500;
}

.VerifiedEmployeeSalaryInfoGrid h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 8px;
    color: black;
}
.VerifiedEmployeeSalaryInfoHeader {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.SalaryHistoryButton {
  padding: 0.25rem 0.7rem;  
  font-size: 1.3rem;       
}
.NoDataText {
  text-align: center;
  color: #777;
  font-size: 15px;
  background-color: #f8f9fc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}



