.VerifiedEmployeeDocumentsAndIdentificationInfoWrapper {
  padding: 24px;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

.VerifiedEmployeeDocumentsAndIdentificationInfoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.VerifiedEmployeeDocumentsAndIdentificationInfoColumn > div {
  margin-bottom: 20px;
}

.VerifiedEmployeeDocumentsAndIdentificationInfoColumn p {
  font-size: 14px;
  margin: 0 0 4px 0;
  color: rgb(66, 65, 65);
  font-weight: 500;
}

.VerifiedEmployeeDocumentsAndIdentificationInfoColumn h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 8px;
    color: black;
}

.VerifiedEmployeeDocumentsAndIdentificationInfoColumn a {
  font-size: 15px;
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}
