.addEditDepartmentModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.star{
  color: red;
}

.addEditDepartmentModal {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 30rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.addEditDepartmentModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.addEditDepartmentModalCloseIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.addEditDepartmentModalBody {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.addEditDepartmentModalBody label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.addEditDepartmentModalInput {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  font-size: 1rem;
  outline: none;
}

.addEditDepartmentModalFooter {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  margin-left: 2px;
}
