.addEmployeeProfileContainer{
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.addEmployeeProfileContainer img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid rgb(218, 218, 218);
    object-fit: cover;
}

.addImageIcon{
    position: absolute;
    bottom: 0;
    right: 0;
    height:2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #0460cd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #ffffff;
}

.formSwitchWrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.switchLabel {
  margin-left: 0.75rem;
  font-weight: 500;
  color: #333;
}

.largeSwitch {
  width: 2.5rem;
  height: 1.2rem;
  background-color: #ccc;
  border-radius: 1rem;
  position: relative;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.largeSwitch:checked {
  background-color: #0460cd;
}

.largeSwitch::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.largeSwitch:checked::before {
  transform: translateX(1.3rem);
}
