.dashboardCard {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  min-height: 22rem;
  font-size: 0.85rem;
  color: var(--font-color-base);
  font-size: small;
  margin-bottom: 1rem;
  /* overflow: auto; */
}

.icon {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
