.VerifiedEmployeeHealthInfoWrapper {
  padding: 24px;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

.VerifiedEmployeeHealthInfoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  line-height: 1.8;
}

.VerifiedEmployeeHealthInfoGrid p {
  font-size: 13px;
color: rgb(66, 65, 65);
  font-weight: 500;  margin: 0;
}

.VerifiedEmployeeHealthInfoGrid h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 4px 0 16px;
  color: black;
}
