.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default: mobile - 1 column */
  gap: 1.5rem;
  padding: 1rem 0;
}
.star{
  color: red;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Tablet - 2 columns */
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* Desktop - 3 columns */
  }
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #000000;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.buttonGroup {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}
