.VerifiedEmployeePersonalInfoWrapper {
  padding: 24px;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

.VerifiedEmployeePersonalInfoImageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.VerifiedEmployeePersonalInfoImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.VerifiedEmployeePersonalInfoName {
  margin-top: 12px;
  color: #007bff;
  font-weight: 600;
}

.VerifiedEmployeePersonalInfoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  line-height: 1.8;
}

.VerifiedEmployeePersonalInfoGrid p {
  font-size: 14px;
  color: rgb(66, 65, 65);
  font-weight: 500;
  margin: 0;
  
}

.VerifiedEmployeePersonalInfoGrid h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 4px 0 16px;
  color: black;
}

.VerifiedEmployeePersonalInfoGrid a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}
