.gradeWrapper {
  padding: 2rem;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header h2 {
  font-size: 1.5rem;
  color: #2d2d2d;
}

/* .addButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1.8rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.addButton:hover {
  background-color: #0056b3; 
} */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(46%, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #f2f7ff;
  border-radius: 12px;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.03);
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #2d2d2d;
}

.actions {
  display: flex;
  gap: 1rem;
}

.deleteIcon {
  color: red;
  font-size: 1.8rem;
  cursor: pointer;
}

.editIcon {
  color: #007bff;
  font-size: 1.8rem;
  cursor: pointer;
}
