.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tableContainer {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow-x: auto;
}

.tableHeader,
.tableRow {
  display: flex;
  /* align-items: center; */
  min-width: 100%;
}

.headerCell {
  flex: 1;
  font-weight: bold;
  padding: 12px 8px;
  color: #007bff;
  border-bottom: 2px solid #007bff;
  min-width: 120px;
  font-size: 1rem;
}

.tableRow {
  background-color: white;
  margin-top: 12px;
  border-radius: 12px;
  padding: 12px 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.cell {
  flex: 1;
  padding: 8px 12px;
  min-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  color: black;
}

.cell img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.bottomControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

.tableControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

.entriesSelect {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #007bff;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.entriesSelect option {
  background-color: white; 
  color: #333;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 14px;
}

.pagination span {
  margin-right: 0.8rem;
  color: #333;
}

.paginationButton {
  padding: 6px 12px;
  border: none;
  background-color: #efefef;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.activePage {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
.arrowButton {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.disabledArrow {
  background-color: #efefef;
  color: #999;
  cursor: not-allowed;
}

.slNoCell {
  flex: 0 0 60px; 
  min-width: 63px;
  text-align: center;
  text-align: left !important; 
  padding-left: 12px;  
}


.noDataRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: #f8f9fb;
  border: 1px solid #d4dcea;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  color: #2d3748;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  text-align: center;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
  animation: fadeIn 0.4s ease;
}


