.ardp_container {
  padding: 24px;
  width: 100%;
}

.ardp_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
}

.ardp_fieldGroup {
  flex: 1 1 calc(33.33% - 24px);
  display: flex;
  gap: 12px;
  align-items: flex-start;
  background-color: #f0f6ff;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #d9e6f2;
  min-width: 250px;
}

.ardp_checkboxWrap {
  margin-top: 4px;
}

.ardp_checkbox {
  width: 20px;
  height: 20px;
}

.ardp_fieldContent {
  display: flex;
  flex-direction: column;
}

.ardp_label {
  font-size: 13px;
  font-weight: 500;
  color: #777;
  margin-bottom: 4px;
}

.ardp_value {
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

.ardp_buttonRow {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}
.redBorder {
  border: 2px solid #e74c3c !important;
  background-color: #fff6f6;
}

@media (max-width: 768px) {
  .ardp_fieldGroup {
    flex: 1 1 100%;
  }
}


.noDataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-top: 20px;
}

.noDataMessage {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-shadow: 1px 1px 1px #aaa;
  font-family: Arial, sans-serif;
}


.verifiedMessage {
  font-size: 16px;
  font-weight: bold;
  color: green;
}
