*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.labelStyle{
    color: gray;
    font-size: 0.75rem;
}

.inputStyle{
  width: 100%;
  height: 2rem;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  padding: 2px 8px;
}
.inputFormStyle{
  width: 100%;
  height: 2.5rem;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  padding: 2px 8px;
}

.error {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.fs-small{
  font-size: .7rem;
  padding: 0;
}

.PageSearch {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 2px 15px;
  width: 275px;
}

.PageSearch input {
  border: none;
  outline: none;
  padding-left: 10px;
  flex: 1;
  font-size: 14px;
}
