.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  border-radius: 1rem;
  width: 32rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #0d6efd;
  padding: 1rem 1.5rem;
  border-radius: 1rem 1rem 0 0;
}

.closeIcon {
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

.modalBody {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.modalBody label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
  font-size: 1rem;
  background-color: #f5f7f9;
  outline: none;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
  border-top: 1px solid #eee;
}



.input[readonly] {
  cursor: not-allowed;
}
