.AddLeaveWrapper {
  padding: 2rem;
  background-color: #fff;
}

.AddLeaveHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.AddLeaveHeader h2 {
  font-size: 1.5rem;
  color: #2d2d2d;
}



.AddLeaveGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(46%, 1fr));
  gap: 1.5rem;
}

.AddLeaveCard {
  background-color: #f2f7ff;
  border-radius: 12px;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.03);
}

.AddLeaveTitle {
  font-size: 1rem;
  font-weight: 500;
  color: #2d2d2d;
}

.AddLeaveActions {
  display: flex;
  gap: 1rem;
}

.AddLeaveDeleteIcon {
  color: red;
  font-size: 1.8rem;
  cursor: pointer;
}

.AddLeaveEditIcon {
  color: #007bff;
  font-size: 1.8rem;
  cursor: pointer;
}
